{
  "log": {
    "_recordingName": "getIdp/returns for a valid WebID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8ce1a7eb76bbc9772c53e85d8994f865",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rubensworks.solidcommunity.net/profile/card"
        },
        "response": {
          "content": {
            "mimeType": "text/turtle",
            "size": 6371,
            "text": "@prefix : <#>.\n@prefix acl: <http://www.w3.org/ns/auth/acl#>.\n@prefix foaf: <http://xmlns.com/foaf/0.1/>.\n@prefix ldp: <http://www.w3.org/ns/ldp#>.\n@prefix schema: <http://schema.org/>.\n@prefix solid: <http://www.w3.org/ns/solid/terms#>.\n@prefix space: <http://www.w3.org/ns/pim/space#>.\n@prefix vcard: <http://www.w3.org/2006/vcard/ns#>.\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#>.\n@prefix blog: </public/blog/>.\n@prefix gro: <https://groep28.webdev.ilabt.imec.be/>.\n@prefix inbox[...]
